@import "tailwindcss";

@theme {
  --color-azul1: #0DACB5;
  --color-azul4: #005A62;
  --color-bage_dark: #C0B391;
  --color-bage_claro: #E2D6BE;
  --color-gris_dark: #6C6C6D;
  --font-cocomat: "Cocomat Pro", sans-serif;
  --font-nexa: "Nexa", sans-serif;
  --font-nexaBold: "Nexa Bold", sans-serif;
}

@layer base {
  body {
    margin: 0;
    padding: 0;
    font-family: var(--font-nexa);
    color: #2f2f31;
    background-color: white;
    overflow: hidden;
  }
}
